.cian {
	background-color: #5a74e4;
	width: 400px;
	height: 400px;
	margin-right: auto;
	margin-left: auto;
}

.verde {
	background-color: #15f821;
	width: 200px;
	height: 200px;
	top:100px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.negro {
	background-color: #000000;
	width: 100px;
	height: 100px;
	position: absolute;
}
